* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: #79bac7;
    z-index: 2;
}

.menu {
    position: sticky;
    top: 0;
    height: 70px;
    width: 100%;
    background: #79bac7;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 16px 50px;
    gap: 30px;
}

header nav li {
    list-style-type: none;
}
header nav li a {
    text-decoration: none;
    color: black;
}

svg {
    z-index: -1;
    position: absolute;
    bottom: 0;
}

main {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 100vh;
}

.gauche {
    display: flex;
    justify-content: center;
    align-items: center;
}

.droite {
    border-left: 5px solid #79bac7;
    padding-bottom: 20px;
    backdrop-filter: blur(5px);
    width: 100%;
}

.haut {
    padding: 20px;
    height: 90%;
    position: relative;
    bottom: 0;
    display: flex;
    flex-direction: column-reverse;
    overflow: auto;
}

.msg {
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.thMsg {
    display: flex;
    gap: 10px;
}

.msg img {
    width: 40px;
    height: 40px;
}
.mesTxt {
    text-overflow: ellipsis;
}
.bas {
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#ecrire {
    height: 40px;
    padding: 10px;
    border: none;
    background-color: #fff;
    border-radius: 10px;
}
#send {
    width: 40px;
    height: 40px;
    padding: 10px;
    border: none;
    background-color: #fff;
    border-radius: 50%;
}